<!DOCTYPE html>
<html>
  <head>
    <title>FreelanceRateCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('dollar-sign.png') %>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700,800" rel="stylesheet">
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </link>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </link>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
